
.yoo-features {
padding: 40px 0;
position: relative;
height:auto;
margin: 0 auto;
height: 800px;
overflow:hidden;
}

.serv_board{
position: absolute;
width: 100%;
height: 370px;
background-color: #fff;
z-index: 3;
}

.yoo-feature{perspective: 1000px;}
.yoo-feature:hover .flipper, .yoo-feature.hover .flipper {
	transform: rotateY(180deg);
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.serv_card_front, .serv_card_back {
	backface-visibility: hidden;
	width: 100%;
	height: 370px;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.serv_card_front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.serv_card_back {transform: rotateY(180deg); text-align: center; border-style: inset;}
.serv_card_back .info_table{background-color: #eee; height: 100%;position: relative;padding: 10px;}

.serv_card{
position:relative;
height:370px;
display: inline-block;
overflow: hidden;
padding: 0 1%;
}

.serv_card a img{
width:100%;
text-align: center;
}



.serv_close{
position: absolute;
float: right;
right: 10px;
top:10px;
background-image: url('../images/close.png') ;
background-size: cover;
width: 50px;
height: 50px;
opacity:1;
cursor: pointer;
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
    .serv_card{width: 100%;}
}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width  : 480px) {
    .serv_card{width: 100%;}
        }

    /* Small Devices, Tablets */
    @media only screen and (max-width  : 768px) {
	
        }

    /* Medium Devices, Desktops */
    @media only screen and (max-width  : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width  : 1200px) {

    }