

.yoo-title{text-align: center;padding: 80px 0 0 0;}

.yoo-features {
  display: table;
  padding: 20px 0 100px 0;
  height: 600px;
  margin: 0 auto;
}


.serv_board{margin: 10px auto; display: table-cell; vertical-align: middle;}
.yoo-feature{display: flex;}
.flipcard{
  cursor: pointer;
	-webkit-perspective: 2000px;
	-moz-perspective:2000px;
	-o-perspective:2000px;
	perspective: 2000px;
	position: relative;
	width: 250px;
	height: 420px;
	margin:10px auto;
}
.IntroText{position: absolute;text-align: center;width: 100%; left: 0; background-color: rgba(0, 0, 0, 0.4);
 } /* Ширина дива интро текст должна быть равна ширине флипкард минус паддинг и высота*/

.flipcard.v:hover .serv_card_front, .flipcard.v.flip .serv_card_front{
  transform: rotateX(180deg);
  -webkit-transform:rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}
.flipcard.v:hover .serv_card_back, .flipcard.v.flip .serv_card_back{
  transform: rotateX(0deg);
  -webkit-transform:rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}
.flipcard.v .serv_card_back{
  transform: rotateX(-180deg);
  -webkit-transform:rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}
.flipcard.h:hover .serv_card_front, .flipcard.h.flip .serv_card_front{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.flipcard.h:hover .serv_card_back, .flipcard.h.flip .serv_card_back{
  transform: rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.flipcard.h .serv_card_back{
  transform: rotateY(-180deg);
 -webkit-transform:rotateY(-180deg);
 -moz-transform: rotateY(-180deg);
 -o-transform: rotateY(-180deg);

}
.flipcard .serv_card_front, .flipcard .serv_card_back
{
  position:absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: white;
  background-color: #000;
  padding: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
.serv_card_front{text-align: center;}
.front_image {height: 100%; display: inline;}
/*=========== Shadow effect ==============*/



/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
    /*.serv_card{width: 100%;}*/
}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width  : 480px) {
    /*.serv_card{width: 100%;}*/
        }

    /* Small Devices, Tablets */
    @media only screen and (max-width  : 768px) {
	
        }

    /* Medium Devices, Desktops */
    @media only screen and (max-width  : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width  : 1200px) {

    }