
.yoo-features {
padding: 40px 0;
position: relative;
height:auto;
margin: 0 auto;
height:370px;
overflow:hidden;
}

.serv_board{
position: absolute;
width: 100%;
height: 370px;
background-color: #fff;
z-index: 3;
}


.serv_card{
position:relative;
height:370px;
display: inline-block;
overflow: hidden;
padding: 0 1%;
}

.serv_card a img{
width:100%;
text-align: center;
}

.screen{
position: absolute;
height: 100%;
cursor: pointer;
opacity: 0;
background-color: #33FFCC;
}



.serv_detail{
position: absolute;
opacity:0;
width: 100%;
height:370px;
background-color: #fff;
border: 1px solid #000;
z-index: 1;

}


.serv_detail .info_table{
position: realtive;
height: 96%;
width:69%;
margin-top: 1%;
margin-left: 1%;
float:left;
/*background-color: #ffff88;*/
}

.serv_detail .pic{
position: realtive;
height: 96%;
width:28%;
margin-top: 1%;
margin-right: 1%;
float:right;
/*background-color: #ffff88;*/
}

.serv_close{
position: absolute;
float: right;
right: 10px;
top:10px;
background-image: url('../images/close.png') ;
background-size: cover;
width: 50px;
height: 50px;
opacity:1;
cursor: pointer;
}

